body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #b6adad;
  padding: 30px;
  text-align: center;
  color: #fff;
}

#navbar {
  overflow: hidden;
  position: sticky;
  top: 0;
  background-color: #000;
  padding: 1.5;
  width: 100%;
  box-shadow: 0 4px 8px 0 #00000033;
}

#navbar a {
  display: block;
  
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

/* Left side of navbar*/
#navbar a.left {
  color: #fff;
  opacity: 1;
  float: left;
}

/* Right side of navbar*/
#navbar a.right {
  color: #f2f2f2;
  float: right;
}

#navbar a.right:hover {
  background-color: #fff;
  color: #000;
}

#navbar a.active {
  background-color: #fff;
  color: #000;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in-text {
  color: #ff00ff;
  animation: fadeIn 1s;
}

.sticky + .content {
  padding-top: 60px;
}

.yeartext {
  padding: 16px;
  color: #2b2b2b
}
.center {
  display: flex;
  justify-content: center;
  grid-column-gap: 10px
}
.center space{
  margin: 10px;
}
